<!-- bitcoin.html -->

<canvas id="bitcoinChart" width="400" height="200"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('bitcoinChart').getContext('2d');
    var myChart = "{{ bitcoin_prices_json }}";
    console.log(myChart);
    var bitcoinPrices = JSON.stringify(myChart);
    var labels = [];
    var prices = [];
    for (var i = 0; i < bitcoinPrices.length; i++) {
        labels.push(bitcoinPrices[i].timestamp);
        prices.push(bitcoinPrices[i].price);
    }
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Bitcoin Price',
                data: prices,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                x: {
                    type: "time",
                    ticks: {
                        autoSkip: true,
                        maxTicksLimit: 20,
                    },
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: "Point"
                    }
                },
                y: {
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: "Value"
                    }
                }
            }
        }
    });
</script>